<!DOCTYPE html>
<%- include('./includes/head.ejs') -%>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Home</title>
</head>

<body>
  <div id="mainPage" class="clear-fix">
    <!--Header-->
    <%- include('./includes/header.ejs') -%>
    <!--Menu-->
    <%- include('./includes/menu.ejs') -%>
  <!--Banner-->
  <div class="">
    <div class="banner-image" style="height: 500px;">
        <div class="container" style="padding: 0px">
            <h2 style="padding: 0px">Our Scholarships</h2>
         </div>
        <div class="container" style="margin-top: 30px; padding: 0px">
            <h4 style="color: white; ">Nearly $500K in Unigo scholarships awarded, and we're not stopping there!</h3>
        </div>    
    </div>
  </div>

<!--Content-->
    <div class="easy-content p-t-30 p-b-30">
        <div class="easy-content-element">
            <div class="row">
            <div class="easy-content-element-left col-md-6 col-sm-6 col-lg-6">
                <div class="easy-content--head-left" >
                    <h3 class="text-center">EDUCATION MATTERS SHOCLARSHIP</h5>
                </div>
                <div class="easy-content--content">
                    <div class="easy-content--content--detail" >
                        <div class="content--content--detail  m-t-20" >
                            <div >
                                <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M28.125 3.75C12.592 3.75 0 16.342 0 31.875C0 47.4081 12.592 60 28.125 60C43.6581 60 56.25 47.4081 56.25 31.875C56.25 16.342 43.6581 3.75 28.125 3.75ZM28.125 54.375C15.6986 54.375 5.625 44.3014 5.625 31.875C5.625 19.4486 15.6986 9.375 28.125 9.375C40.5514 9.375 50.625 19.4486 50.625 31.875C50.625 44.3014 40.5514 54.375 28.125 54.375ZM30 30V22.5H37.5V18.75H30V15H26.25V18.75H18.75V33.75H26.25V41.25H18.75V45H26.25V48.75H30V45H37.5001L37.5 30H30ZM26.25 30H22.5V22.5H26.25V30ZM33.7501 41.25H30V33.75H33.7501V41.25Z" fill="#21B341"/>
                                </svg>                                       
                            </div>
                            <div>
                              <strong class="text-center" style="font-size:1.5em">$5000</strong>  
                            </div>
                        </div>
                        <div class=" m-t-20">
                            <div class="text-center">
                                <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.75 22.5H26.25V30H18.75V22.5ZM30 22.5H37.5V30H30V22.5ZM41.25 22.5H48.75V30H41.25V22.5ZM7.5 45H15V52.5H7.5V45ZM18.75 45H26.25V52.5H18.75V45ZM30 45H37.5V52.5H30V45ZM18.75 33.75H26.25V41.25H18.75V33.75ZM30 33.75H37.5V41.25H30V33.75ZM41.25 33.75H48.75V41.25H41.25V33.75ZM7.5 33.75H15V41.25H7.5V33.75ZM48.75 0V3.75H41.25V0H15V3.75H7.5V0H0V60H56.25V0H48.75ZM52.5 56.25H3.75V15H52.5V56.25Z" fill="black"/>
                                </svg>                                                                               
                            </div>
                            <div >
                                <div class="text-center">APPLICATION</div>
                                <div class="text-center">DEADLINE</div>
                                <div class="text-center">November 30, 2019</div>
                            </div>
                        </div>
                    </div>
                    <div class="p-t-18 banner-button  m-t-20 p-b-20" >
                        <button class="easy-button-banner flex-c-m stext-101 cl0 size-103  bor1 " style=" width: 80%; margin-left:0px" onclick="window.location.href='/detail'">
                            APLLY NOW
                        </button>
                    </div>
                  
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                    <div class="easy-content--head-right" >
                            <h3 class="text-center">EDUCATION MATTERS SHOCLARSHIP</h5>
                        </div>
                        <div class="easy-content--content">
                            <div class="easy-content--content--detail" >
                                <div class="content--content--detail  m-t-20" >
                                    <div >
                                        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M28.125 3.75C12.592 3.75 0 16.342 0 31.875C0 47.4081 12.592 60 28.125 60C43.6581 60 56.25 47.4081 56.25 31.875C56.25 16.342 43.6581 3.75 28.125 3.75ZM28.125 54.375C15.6986 54.375 5.625 44.3014 5.625 31.875C5.625 19.4486 15.6986 9.375 28.125 9.375C40.5514 9.375 50.625 19.4486 50.625 31.875C50.625 44.3014 40.5514 54.375 28.125 54.375ZM30 30V22.5H37.5V18.75H30V15H26.25V18.75H18.75V33.75H26.25V41.25H18.75V45H26.25V48.75H30V45H37.5001L37.5 30H30ZM26.25 30H22.5V22.5H26.25V30ZM33.7501 41.25H30V33.75H33.7501V41.25Z" fill="#21B341"/>
                                        </svg>                                       
                                    </div>
                                    <div>
                                      <strong class="text-center" style="font-size:1.5em">$5000</strong>  
                                    </div>
                                </div>
                                <div class=" m-t-20">
                                    <div class="text-center">
                                        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M18.75 22.5H26.25V30H18.75V22.5ZM30 22.5H37.5V30H30V22.5ZM41.25 22.5H48.75V30H41.25V22.5ZM7.5 45H15V52.5H7.5V45ZM18.75 45H26.25V52.5H18.75V45ZM30 45H37.5V52.5H30V45ZM18.75 33.75H26.25V41.25H18.75V33.75ZM30 33.75H37.5V41.25H30V33.75ZM41.25 33.75H48.75V41.25H41.25V33.75ZM7.5 33.75H15V41.25H7.5V33.75ZM48.75 0V3.75H41.25V0H15V3.75H7.5V0H0V60H56.25V0H48.75ZM52.5 56.25H3.75V15H52.5V56.25Z" fill="black"/>
                                        </svg>                                                                               
                                    </div>
                                    <div >
                                        <div class="text-center">APPLICATION</div>
                                        <div class="text-center">DEADLINE</div>
                                        <div class="text-center">November 30, 2019</div>
                                    </div>
                                </div>
                            </div>
                            <div class="p-t-18 banner-button  m-t-20 p-b-20">
                                <button class="button-banner flex-c-m stext-101 cl0 size-103  bor1 " style="width: 80%; margin-left:0px" onclick="window.location.href='/detail'">
                                    APLLY NOW
                                </button>
                            </div>
                          
                        </div>
            </div>
            </div>
        </div>
        <div class="detail-content-right">
                <h5>BROWSE SCHOLARSHIPS</h5>
                <a href="/">Athletic Scholarships</a>
                <a href="/">College-Specific Scholarships</a>
                <a href="/">Company-Sponsored Scholarships</a>
                <a href="/">Full List of Scholarships and Grants</a>
                <a href="/">Merit-Based Scholarships</a>
                <a href="/">Minority Scholarships</a>
                <a href="/">View More</a>
            </div>
    </div>


    <!--main-->
    <div class="main p-b-30" style="padding-left: 152px">
        <div class="row">
            <!---->
            <div class="p-b-20">
            <div class="main-detail ">
                <div class="main-detail-head">
                    <h3 class="text-center">EDUCATION MATTERS SHOCLARSHIP</h5>
                </div>
                <div>
                    <div class="main-detail--content p-t-20">
                        <div>
                               <img src="images/course-it.jpg" alt="#">                        
                        </div>
                        <div style="width: 400px">
                            <div>As a scholarship seeker, you're probably already well-aware of the importance of an education. But, what about the naysayers? Have you come across someone who's tried to talk you out of college, saying that it's not worth it?
                            </div>
                        </div>
                    </div>
                    <div class="main-detail--content-down p-t-20 p-b-20">
                        <div style="display:flex; flex-direction:column">
                            <div style="display:flex;  justify-content:center">
                                <div style="font-size:1.5em">Amout: </div>&nbsp
                                <div  style="color:#5786E2;font-size:1.5em">$5000 </div>
                            </div>
                            <div style="display:flex;">
                                    <div style="font-size:1.5em">Deadline: </div>&nbsp
                                    <div  style="color:#5786E2;font-size:1.5em"> November 30, 2019 </div>
                            </div>
                        </div>
                        <div class="banner-button " style="display:flex; align-items:center">
                                <button class="button-banner flex-c-m stext-101 cl0 size-103  bor1 " style="width: 80%; margin-left:0px" onclick="window.location.href='/detail'">
                                    View Scholarship
                                </button>
                        </div>
                    </div>              
               </div>
            </div>    
        </div>
            <!---->
            <div class="p-b-20">
            <div class="main-detail ">
                <div class="main-detail-head">
                    <h3 class="text-center">EDUCATION MATTERS SHOCLARSHIP</h5>
                </div>
                <div>
                    <div class="main-detail--content p-t-20">
                        <div>
                               <img src="images/course-it.jpg" alt="#">                        
                        </div>
                        <div style="width: 400px">
                            <div>As a scholarship seeker, you're probably already well-aware of the importance of an education. But, what about the naysayers? Have you come across someone who's tried to talk you out of college, saying that it's not worth it?
                            </div>
                        </div>
                    </div>
                    <div class="main-detail--content-down p-t-20 p-b-20">
                        <div style="display:flex; flex-direction:column">
                            <div style="display:flex;  justify-content:center">
                                <div style="font-size:1.5em">Amout: </div>&nbsp
                                <div  style="color:#5786E2;font-size:1.5em">$5000 </div>
                            </div>
                            <div style="display:flex;">
                                    <div style="font-size:1.5em">Deadline: </div>&nbsp
                                    <div  style="color:#5786E2;font-size:1.5em"> November 30, 2019 </div>
                            </div>
                        </div>
                        <div class="banner-button " style="display:flex; align-items:center">
                                <button class="button-banner flex-c-m stext-101 cl0 size-103  bor1 " style="width: 80%; margin-left:0px" onclick="window.location.href='/detail'">
                                    View Scholarship
                                </button>
                        </div>
                    </div>  
                </div>            
               </div>
            </div> 
             <!---->
             <div class="p-b-20">
                <div class="main-detail ">
                    <div class="main-detail-head">
                        <h3 class="text-center">EDUCATION MATTERS SHOCLARSHIP</h5>
                    </div>
                    <div>
                        <div class="main-detail--content p-t-20">
                            <div>
                                   <img src="images/course-it.jpg" alt="#">                        
                            </div>
                            <div style="width: 400px">
                                <div>As a scholarship seeker, you're probably already well-aware of the importance of an education. But, what about the naysayers? Have you come across someone who's tried to talk you out of college, saying that it's not worth it?
                                </div>
                            </div>
                        </div>
                        <div class="main-detail--content-down p-t-20 p-b-20">
                            <div style="display:flex; flex-direction:column">
                                <div style="display:flex;  justify-content:center">
                                    <div style="font-size:1.5em">Amout: </div>&nbsp
                                    <div  style="color:#5786E2;font-size:1.5em">$5000 </div>
                                </div>
                                <div style="display:flex;">
                                        <div style="font-size:1.5em">Deadline: </div>&nbsp
                                        <div  style="color:#5786E2;font-size:1.5em"> November 30, 2019 </div>
                                </div>
                            </div>
                            <div class="banner-button " style="display:flex; align-items:center">
                                    <button class="button-banner flex-c-m stext-101 cl0 size-103  bor1 " style="width: 80%; margin-left:0px" onclick="window.location.href='/detail'">
                                        View Scholarship
                                    </button>
                            </div>
                        </div>              
                   </div>
                </div>    
            </div>   
        </div>
        
        </div>
        <!---->
    </div>
    <%- include('./includes/indexchangepage.ejs') -%>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<div class="footer-content">
  <%- include('./includes/footer.ejs') -%>
</div>
<%- include('./includes/end.ejs') -%>

</html>