<!DOCTYPE html>
<%- include('./includes/head.ejs') -%>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Home</title>
</head>

<body>
  <div id="mainPage" class="clear-fix">
    <!--Header-->
    <%- include('./includes/header.ejs') -%>
    <!--Menu-->
    <%- include('./includes/menu.ejs') -%>
  <!--Banner-->
  <div class="">
    <div class="banner-image" style="height: 500px;">
        <div class="container" style="padding: 0px">
            <h2 style="padding: 0px">Friends of Alan Turing Scholarship</h2>
         </div>
        <div class="container" style="margin-top: 30px; padding: 0px">
            <h4 style="color: white; ">Millions of scholarships, personalized results!</h3>
                <h4 style="color: white; ">Get matched to scholarships that are perfect for you.</h3>
        </div>    
    </div>
  </div>

<!--Content-->
    <div class="easy-content p-t-30 p-b-30">
        <div class="easy-content-element">
            <div class="row">
            <div class="easy-content-element-left col-md-10 col-sm-10 col-lg-10" style="display:flex;width: 1000px;justify-content: space-around;margin-left: 190px;">
                <div class="majordetail-information">
                    <div class="p-t-10 information-text-head flex-center">AMOUNT AWARDED</div>
                    <div class="information-text-center flex-center">$4160</div>
                    <div class="information-text-footer flex-center">AWARDED</div>
                </div>
                <div class="majordetail-information">
                    <div class="p-t-10 information-text-head flex-center">APPLICATION DEADLINE
                    </div>
                    <div class="information-right-text-center flex-center">January 15, 2020
                    </div>
                    <div class="information-text-footer flex-center">Wednesday</div>
                </div>

            </div>
          
            </div>
        </div>
        <div class="detail-content-right">
                <h5>BROWSE SCHOLARSHIPS</h5>
                <a href="/">Athletic Scholarships</a>
                <a href="/">College-Specific Scholarships</a>
                <a href="/">Company-Sponsored Scholarships</a>
                <a href="/">Full List of Scholarships and Grants</a>
                <a href="/">Merit-Based Scholarships</a>
                <a href="/">Minority Scholarships</a>
                <a href="/">View More</a>
            </div>
    </div>


    <!--main-->
    <div class="main p-b-30" style="padding-left: 152px">
        <div class="row">
        <!---->

        <div class="p-b-20" style="display:flex">
            <div class="col-md-3 col-sm-3 col-lg-3" style="
            padding: 0px;
            display: block;
            width: 70px;
             ">
                <div style="
                font-size: 17px;
                width: 195px; 
                font-weight: 600;
                display: block;
                margin: 0px;
             ">Awarded By
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-lg-10" style="
            padding: 0px;
            width: 715px;
            text-align: justify;
            padding-left: 45px;
             ">  
            Pride Foundation
            </div>
        </div>
        <!---->
        <div class="p-b-20" style="display:flex">
            <div class="col-md-3 col-sm-3 col-lg-3" style="
            padding: 0px;
            display: block;
            width: 70px;
             ">
                <div style="
                font-size: 17px;
                width: 195px; 
                font-weight: 600;
                display: block;
                margin: 0px;
             ">Award Amount
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-lg-10" style="
            padding: 0px;
            width: 715px;
            text-align: justify;
            padding-left: 45px;
             ">  
            Award amounts range from between $500 and $12,000 annually, and are non-renewable. Last year, the average award was $4,160.
            </div>
        </div>
      <!---->
      <div class="p-b-20" style="display:flex">
        <div class="col-md-3 col-sm-3 col-lg-3" style="
        padding: 0px;
        display: block;
        width: 70px;
         ">
            <div style="
            font-size: 17px;
            width: 195px; 
            font-weight: 600;
            display: block;
            margin: 0px;
         ">Recipients
            </div>
        </div>
        <div class="col-md-10 col-sm-10 col-lg-10" style="
        padding: 0px;
        width: 715px;
        text-align: justify;
        padding-left: 45px;
         ">  
        One award offered annually.
        </div>
         </div>
        <!---->
        <div class="p-b-20" style="display:flex">
            <div class="col-md-3 col-sm-3 col-lg-3" style="
            padding: 0px;
            display: block;
            width: 70px;
             ">
                <div style="
                font-size: 17px;
                width: 195px; 
                font-weight: 600;
                display: block;
                margin: 0px;
             ">Additional Information
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-lg-10" style="
            padding: 0px;
            width: 715px;
            text-align: justify;
            padding-left: 45px;
             ">  
            Award amounts range from between $500 and $12,000 annually, and are non-renewable. Last year, the average award was $4,160.
            </div>
        </div>
         <!---->
        <div class="p-b-20" style="display:flex">
            <div class="col-md-3 col-sm-3 col-lg-3" style="
            padding: 0px;
            display: block;
            width: 70px;
             ">
                <div style="
                font-size: 17px;
                width: 195px; 
                font-weight: 600;
                display: block;
                margin: 0px;
             ">Deadline Info
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-lg-10" style="
            padding: 0px;
            width: 715px;
            text-align: justify;
            padding-left: 45px;
             ">  
            
            The student only needs to submit one application to be considered for all Pride Foundation scholarships. All applications must be submitted online. As part of the online application, the student must ... sign up for full scholarship deadline information.
            </div>
        </div>
        
        </div>     
    </div>
</body>

<div class="p-b-20 p-t-20 banner-button">
    <button class="button-banner flex-c-m stext-101 cl0 size-103  bor1  " style="width: 500px" onclick="window.location.href='/signup'">
      SIGN UP TO VIEW APPLICATION INFORMATION
    </button>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<div class="footer-content">
  <%- include('./includes/footer.ejs') -%>
</div>
<%- include('./includes/end.ejs') -%>

</html>