<!DOCTYPE html>
<%- include('./includes/head.ejs') -%>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Home</title>
</head>

<body>
  <div id="mainPage" class="clear-fix">
    <!--Header-->
    <%- include('./includes/header.ejs') -%>
    <!--Menu-->
    <%- include('./includes/menu.ejs') -%>
  <!--Banner-->
  <div class="">
    <div class="banner-image" style="height: 500px;">
        <div class="container" style="padding: 0px">
            <h2 style="padding: 0px">Scholarships by Major</h2>
         </div>
        <div class="container" style="margin-top: 30px; padding: 0px">
            <h4 style="color: white; ">Millions of scholarships, personalized results!</h3>
                <h4 style="color: white; ">Get matched to scholarships that are perfect for you.</h3>
        </div>    
    </div>
  </div>

<!--Content-->
    <div class="easy-content p-t-30 p-b-30">
        <div class="easy-content-element">
            <div class="row">
            <div class="easy-content-element-left col-md-10 col-sm-10 col-lg-10">
                <div class="major-text">
                    You’re one of the lucky ones if you've known what you’ve wanted to be since you started high school. Maybe even before. A writer, an artist, an engineer, a teacher, a musician, a nurse, or a lawyer. What makes you lucky is that by knowing what you want to major in enables you to apply for many scholarships. Many universities, colleges, and organizations award scholarships to students pursuing a specific major. Extra money, that is, to ease the financial burden of college. By searching this scholarship directory, you can find tons of scholarships related to your field of study. And even if you’re still undecided on what major you want to study, a peek at the scholarship opportunities may give you the direction you’re looking for.
                </div>
            </div>
          
            </div>
        </div>
        <div class="detail-content-right">
                <h5>BROWSE SCHOLARSHIPS</h5>
                <a href="/">Athletic Scholarships</a>
                <a href="/">College-Specific Scholarships</a>
                <a href="/">Company-Sponsored Scholarships</a>
                <a href="/">Full List of Scholarships and Grants</a>
                <a href="/">Merit-Based Scholarships</a>
                <a href="/">Minority Scholarships</a>
                <a href="/">View More</a>
            </div>
    </div>


    <!--main-->
    <div class="main p-b-30" style="padding-left: 152px">
        <div class="row">
            <!---->
            <div class="p-b-20">
            <div class="major-detail ">
                <div class="major-detail-head">
                    <h3 class="text-center">Computer Science Scholarships</h5>
                </div>
                <div>
                    <div class="major-detail--content p-t-20">
                        <div>
                               <img style="width: 255px;" src="images/course-it.jpg" alt="#">                        
                        </div>
                        <div style="width: 400px; text-align: justify;">
                            <div>Technology is ever-changing, making computer science a rapidly growing field. There are many scholarship opportunities emerging for students pursuing a career in computer science. Check here if you want to learn computer science or start a career in information technology.
                            </div>
                        </div>
                    </div>
                    <div class="major-detail--content-down p-t-20 p-b-20">
                        <div style="display:flex; ">
                            <div style="display:flex;  justify-content:center; margin-right: 35px;">
                                <div style="font-size:1.5em">AWARDS: </div>&nbsp
                                <div  style="color:hotpink;font-size:1.5em">$108,987 </div>
                            </div>
                            <div style="display:flex;">
                                    <div style="font-size:1.5em">TOTAL: </div>&nbsp
                                    <div  style="color:hotpink;font-size:1.5em">$400M </div>
                            </div>
                        </div>
                        <div class="banner-button " style="display:flex; align-items:center">
                                <button class="major-button-banner flex-c-m stext-101 cl0 size-103   " style="width: 80%; margin-left:0px" onclick="window.location.href='/branchmajor'">
                                    View Scholarship
                                </button>
                        </div>
                    </div>              
               </div>
            </div>    
        </div>
            <!---->
            <div class="p-b-20">
                <div class="major-detail ">
                    <div class="major-detail-head">
                        <h3 class="text-center">Education Scholarships</h5>
                    </div>
                    <div>
                        <div class="major-detail--content p-t-20">
                            <div>
                                   <img style="width: 255px;" src="images/course-giaovien.jpg" alt="#">                        
                            </div>
                            <div style="width: 400px;text-align: justify;">
                                <div>Future teachers, principals, and counselors know the importance of learning. These students entering the education industry also have the opportunity for scholarships specific to education majors. Search our list for an education scholarship and apply today.
                                </div>
                            </div>
                        </div>
                        <div class="major-detail--content-down p-t-20 p-b-20">
                            <div style="display:flex; ">
                                <div style="display:flex;  justify-content:center; margin-right: 35px;">
                                    <div style="font-size:1.5em">AWARDS: </div>&nbsp
                                    <div  style="color:hotpink;font-size:1.5em">$118,281 </div>
                                </div>
                                <div style="display:flex;">
                                        <div style="font-size:1.5em">TOTAL: </div>&nbsp
                                        <div  style="color:hotpink;font-size:1.5em">$447M </div>
                                </div>
                            </div>
                            <div class="banner-button " style="display:flex; align-items:center">
                                    <button class="major-button-banner flex-c-m stext-101 cl0 size-103   " style="width: 80%; margin-left:0px" onclick="window.location.href='/branchmajor'">
                                        View Scholarships
                                    </button>
                            </div>
                        </div>              
                   </div>
                </div>   
            </div> 
             <!---->
             <div class="p-b-20">
                <div class="major-detail ">
                    <div class="major-detail-head">
                        <h3 class="text-center">Engineering Scholarships</h5>
                    </div>
                    <div>
                        <div class="major-detail--content p-t-20">
                            <div>
                                   <img style="width: 255px;" src="images/course-kithuat.jpg" alt="#">                        
                            </div>
                            <div style="width: 400px; text-align: justify;">
                                <div>Students who plan to learn about nuclear energy, manufacturing, computer hardware, mining, or electronics can study what’s considered one of the most valuable majors: engineering. They can also find many rewarding opportunities with these scholarships offered to engineering majors.
                                </div>
                            </div>
                        </div>
                        <div class="major-detail--content-down p-t-20 p-b-20">
                            <div style="display:flex; ">
                                <div style="display:flex;  justify-content:center; margin-right: 35px;">
                                    <div style="font-size:1.5em">AWARDS: </div>&nbsp
                                    <div  style="color:hotpink;font-size:1.5em">$105,004 </div>
                                </div>
                                <div style="display:flex;">
                                        <div style="font-size:1.5em">TOTAL: </div>&nbsp
                                        <div  style="color:hotpink;font-size:1.5em">$490M </div>
                                </div>
                            </div>
                            <div class="banner-button " style="display:flex; align-items:center">
                                    <button class="major-button-banner flex-c-m stext-101 cl0 size-103   " style="width: 80%; margin-left:0px" onclick="window.location.href='/branchmajor'">
                                        View Scholarships
                                    </button>
                            </div>
                        </div>              
                   </div>
                </div>   
        </div>
          <!---->
          <div class="p-b-20">
            <div class="major-detail ">
                <div class="major-detail-head">
                    <h3 class="text-center">Doctoring Scholarships</h5>
                </div>
                <div>
                    <div class="major-detail--content p-t-20">
                        <div>
                               <img style="width: 255px;" src="images/course-bacsi.jpg" alt="#">                        
                        </div>
                        <div style="width: 400px; text-align: justify;">
                            <div>Registered Nurses (RN) are in high demand — and the career prospects are growing. Students planning to become nurses are eligible for several scholarship awards and opportunities to help pay for college. Search our full list of nursing scholarships and apply today!
                            </div>
                        </div>
                    </div>
                    <div class="major-detail--content-down p-t-20 p-b-20">
                        <div style="display:flex; ">
                            <div style="display:flex;  justify-content:center; margin-right: 35px;">
                                <div style="font-size:1.5em">AWARDS: </div>&nbsp
                                <div  style="color:hotpink;font-size:1.5em">$128,536 </div>
                            </div>
                            <div style="display:flex;">
                                    <div style="font-size:1.5em">TOTAL: </div>&nbsp
                                    <div  style="color:hotpink;font-size:1.5em">$510M </div>
                            </div>
                        </div>
                        <div class="banner-button " style="display:flex; align-items:center">
                                <button class="major-button-banner flex-c-m stext-101 cl0 size-103   " style="width: 80%; margin-left:0px" onclick="window.location.href='/branchmajor'">
                                    View Scholarships
                                </button>
                        </div>
                    </div>              
               </div>
            </div>   
    </div>
          <!---->
          <div class="p-b-20">
            <div class="major-detail ">
                <div class="major-detail-head">
                    <h3 class="text-center">Design Scholarships</h5>
                </div>
                <div>
                    <div class="major-detail--content p-t-20">
                        <div>
                               <img style="width: 255px;" src="images/course-thietke.jpg" alt="#">                        
                        </div>
                        <div style="width: 400px; text-align: justify;">
                            <div>Designers have many options for showing their creativity, such as computer graphics, fashion, product, and interior design. Students pursuing a degree in design also have many scholarship options available to them. If you have an eye for design, check out this directory of scholarships for design majors.
                            </div>
                        </div>
                    </div>
                    <div class="major-detail--content-down p-t-20 p-b-20">
                        <div style="display:flex; ">
                            <div style="display:flex;  justify-content:center; margin-right: 35px;">
                                <div style="font-size:1.5em">AWARDS: </div>&nbsp
                                <div  style="color:hotpink;font-size:1.5em">$201,211 </div>
                            </div>
                            <div style="display:flex;">
                                    <div style="font-size:1.5em">TOTAL: </div>&nbsp
                                    <div  style="color:hotpink;font-size:1.5em">$356M </div>
                            </div>
                        </div>
                        <div class="banner-button " style="display:flex; align-items:center">
                                <button class="major-button-banner flex-c-m stext-101 cl0 size-103   " style="width: 80%; margin-left:0px" onclick="window.location.href='/branchmajor'">
                                    View Scholarships
                                </button>
                        </div>
                    </div>              
               </div>
            </div>   
    </div>
        
        </div>
        <!---->
        
    </div>
    <%- include('./includes/indexchangepage.ejs') -%>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<div class="footer-content">
  <%- include('./includes/footer.ejs') -%>
</div>
<%- include('./includes/end.ejs') -%>

</html>