<!DOCTYPE html>
<%- include('./includes/head.ejs') -%>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Home</title>
</head>

<body>
  <div id="mainPage" class="clear-fix">
    <!--Header-->
    <%- include('./includes/header.ejs') -%>
    <!--Menu-->
    <%- include('./includes/menu.ejs') -%>
  <!--Banner-->
  <div class="">
    <div class="banner-image" style="height: 500px;">
        <div class="container" style="padding: 0px">
            <h2 style="padding: 0px">Computer Science Scholarships</h2>
         </div>
        <div class="container" style="margin-top: 30px; padding: 0px">
            <h4 style="color: white; ">Millions of scholarships, personalized results!</h3>
                <h4 style="color: white; ">Get matched to scholarships that are perfect for you.</h3>
        </div>    
    </div>
  </div>

<!--Content-->
    <div class="easy-content p-t-30 p-b-30">
        <div class="easy-content-element">
            <div class="row">
            <div class="easy-content-element-left col-md-10 col-sm-10 col-lg-10">
                <div class="major-text">
                    The steady growth of technology, computer programing, information technology, and software development has opened a wide range of job opportunities for students studying computer science. Computer science majors also have many scholarship opportunities available to them in their field of study. You won’t need any complex algorithms to find your perfect match. We’ve compiled a list of scholarships for computer science majors here in our Scholarships Directory!
                </div>
            </div>
          
            </div>
        </div>
        <div class="detail-content-right">
                <h5>BROWSE SCHOLARSHIPS</h5>
                <a href="/">Athletic Scholarships</a>
                <a href="/">College-Specific Scholarships</a>
                <a href="/">Company-Sponsored Scholarships</a>
                <a href="/">Full List of Scholarships and Grants</a>
                <a href="/">Merit-Based Scholarships</a>
                <a href="/">Minority Scholarships</a>
                <a href="/">View More</a>
            </div>
    </div>

    <div class="p-b-20">
        <h3 style="
        width: 723px;
        margin-left: 136px;
        border-bottom: 1px solid #E2A257;
        margin-top: -40px;
        ">List Computer Science Scholarships</h3>
    </div>

    <!--main-->
    <div class="main p-b-30" style="padding-left: 152px">
        <div class="row">
            <!---->
            <div class="p-b-20">
            <div class="major-detail ">
                <div class="major-detail-head">
                    <h3 class="text-center">Friends of Alan Turing Scholarship</h5>
                </div>
                <div>
                    <div class="major-detail--content p-t-20">
            
                        <div class="p-l-10 p-r-10" style="width: 100%; text-align: justify;">
                            <div>This scholarship is available for current graduate and undergraduate students who are majoring in a STEM field (science, technology, engineering, or mathematics). Applicants must identify as lesbian, gay, bisexual, transgender, or as a straight-ally with a demonstrated commitment to LGBT equality, and must reside in one of the following states: Washington, Oregon, Idaho, Montana or Alaska.
                            </div>
                        </div>
                    </div>
                    <div class="major-detail--content-down p-t-20 p-b-20">
                        <div style="display:flex; ">
                            <div style="display:flex; flex-direction:column; justify-content:center; margin-right: 35px;">
                                <div class="flex-center">
                                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M30.0135 37.4999L21.7528 59.02L18.5172 51.7528L11.25 54.9883L19.4118 33.726C15.6056 30.6319 13.1738 25.9124 13.1738 20.625C13.1738 11.3052 20.729 3.75 30.0488 3.75C39.3686 3.75 46.9238 11.3052 46.9238 20.625C46.9238 25.9124 44.492 30.6319 40.6858 33.726L48.8476 54.9883L41.5804 51.7528L38.3449 59.02L30.0841 37.4999C30.0723 37.4999 30.0605 37.5 30.0487 37.5C30.037 37.5 30.0252 37.5 30.0134 37.4999H30.0135ZM28.0501 37.3829C25.472 37.0787 23.072 36.1932 20.9845 34.8613L14.6132 51.4592L19.458 49.3021L21.6151 54.1469L28.0502 37.3829H28.0501ZM39.1133 34.8613C37.0257 36.1932 34.6256 37.0787 32.0476 37.3829L38.4827 54.1469L40.6398 49.3021L45.4846 51.4592L39.1133 34.8613H39.1133ZM30.0489 35.625C38.3331 35.625 45.0489 28.9093 45.0489 20.625C45.0489 12.3407 38.3331 5.625 30.0489 5.625C21.7646 5.625 15.0489 12.3407 15.0489 20.625C15.0489 28.9093 21.7646 35.625 30.0489 35.625ZM30.0489 31.875C23.8356 31.875 18.7989 26.8382 18.7989 20.625C18.7989 14.4118 23.8356 9.375 30.0489 9.375C36.2621 9.375 41.2989 14.4118 41.2989 20.625C41.2989 26.8382 36.2621 31.875 30.0489 31.875ZM30.0489 30C35.2266 30 39.4239 25.8027 39.4239 20.625C39.4239 15.4473 35.2266 11.25 30.0489 11.25C24.8712 11.25 20.6739 15.4473 20.6739 20.625C20.6739 25.8027 24.8712 30 30.0489 30Z" fill="#64e374"/>
                                        </svg>

                                </div>

                                <div style="display:flex">
                                    <div style="font-size:20px;font-weight:500">Total: </div>&nbsp
                                    <div  style="color:hotpink;font-size:20px;font-weight:400">$4160  </div>
                                </div>

                                <div style="display:flex">
                                    <div style="font-size:20px;font-weight:500">Awards: </div>&nbsp
                                    <div  style="color:hotpink;font-size:20px;font-weight:400">1 </div>

                                </div>
                            </div>
                            <div style="display:flex;">
                                <div style="display:flex; flex-direction:column; justify-content:center; margin-right: 35px;">
                                    <div class="flex-center">
                                        <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="black"/>
                                            <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="black"/>
                                            <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="black"/>
                                            <defs>
                                            <linearGradient id="paint0_linear" x1="30.8647" y1="0" x2="30.8647" y2="60" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="white"/>
                                            <stop offset="1" stop-color="white" stop-opacity="0"/>
                                            </linearGradient>
                                            <linearGradient id="paint1_linear" x1="30.8647" y1="0" x2="30.8647" y2="60" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="white"/>
                                            <stop offset="1" stop-color="white" stop-opacity="0"/>
                                            </linearGradient>
                                            </defs>
                                          </svg>
                                    </div>
    
                                    <div style="display:flex">
                                        <div style="font-size:20px;font-weight:500">Deadline: </div>&nbsp
                                        <div  style="color:hotpink;font-size:20px;font-weight:400">January 6  </div>
                                    </div>
    
                                    <div class="flex-center">
                                        <div  style="color:hotpink;font-size:20px;font-weight:400">2020 </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner-button " style="display:flex; align-items:center">
                                <button class="major-button-banner flex-c-m stext-101 cl0 size-103   " style="width: 80%; margin-left:0px" onclick="window.location.href='/branchmajordetail'">
                                    View Scholarship
                                </button>
                        </div>
                    </div>              
               </div>
            </div>    
        </div>
            <!---->
            <div class="p-b-20">
                <div class="major-detail ">
                    <div class="major-detail-head">
                        <h3 class="text-center">Louis Hall Memorial Scholarship</h5>
                    </div>
                    <div>
                        <div class="major-detail--content p-t-20">
                
                            <div class="p-l-10 p-r-10" style="width: 100%; text-align: justify;">
                                <div>This scholarship is available for high school seniors in Hillsborough County Florida who are planning to major in computer science or information systems. Applicants must have a grade point average of 2.5 or higher.
                                </div>
                            </div>
                        </div>
                        <div class="major-detail--content-down p-t-20 p-b-20">
                            <div style="display:flex; ">
                                <div style="display:flex; flex-direction:column; justify-content:center; margin-right: 35px;">
                                    <div class="flex-center">
                                        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M30.0135 37.4999L21.7528 59.02L18.5172 51.7528L11.25 54.9883L19.4118 33.726C15.6056 30.6319 13.1738 25.9124 13.1738 20.625C13.1738 11.3052 20.729 3.75 30.0488 3.75C39.3686 3.75 46.9238 11.3052 46.9238 20.625C46.9238 25.9124 44.492 30.6319 40.6858 33.726L48.8476 54.9883L41.5804 51.7528L38.3449 59.02L30.0841 37.4999C30.0723 37.4999 30.0605 37.5 30.0487 37.5C30.037 37.5 30.0252 37.5 30.0134 37.4999H30.0135ZM28.0501 37.3829C25.472 37.0787 23.072 36.1932 20.9845 34.8613L14.6132 51.4592L19.458 49.3021L21.6151 54.1469L28.0502 37.3829H28.0501ZM39.1133 34.8613C37.0257 36.1932 34.6256 37.0787 32.0476 37.3829L38.4827 54.1469L40.6398 49.3021L45.4846 51.4592L39.1133 34.8613H39.1133ZM30.0489 35.625C38.3331 35.625 45.0489 28.9093 45.0489 20.625C45.0489 12.3407 38.3331 5.625 30.0489 5.625C21.7646 5.625 15.0489 12.3407 15.0489 20.625C15.0489 28.9093 21.7646 35.625 30.0489 35.625ZM30.0489 31.875C23.8356 31.875 18.7989 26.8382 18.7989 20.625C18.7989 14.4118 23.8356 9.375 30.0489 9.375C36.2621 9.375 41.2989 14.4118 41.2989 20.625C41.2989 26.8382 36.2621 31.875 30.0489 31.875ZM30.0489 30C35.2266 30 39.4239 25.8027 39.4239 20.625C39.4239 15.4473 35.2266 11.25 30.0489 11.25C24.8712 11.25 20.6739 15.4473 20.6739 20.625C20.6739 25.8027 24.8712 30 30.0489 30Z" fill="#64e374"/>
                                            </svg>
    
                                    </div>
    
                                    <div style="display:flex">
                                        <div style="font-size:20px;font-weight:500">Total: </div>&nbsp
                                        <div  style="color:hotpink;font-size:20px;font-weight:400">$500  </div>
                                    </div>
    
                                    <div style="display:flex">
                                        <div style="font-size:20px;font-weight:500">Awards: </div>&nbsp
                                        <div  style="color:hotpink;font-size:20px;font-weight:400">1 </div>
    
                                    </div>
                                </div>
                                <div style="display:flex;">
                                    <div style="display:flex; flex-direction:column; justify-content:center; margin-right: 35px;">
                                        <div class="flex-center">
                                            <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="black"/>
                                                <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="black"/>
                                                <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="black"/>
                                                <defs>
                                                <linearGradient id="paint0_linear" x1="30.8647" y1="0" x2="30.8647" y2="60" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="white"/>
                                                <stop offset="1" stop-color="white" stop-opacity="0"/>
                                                </linearGradient>
                                                <linearGradient id="paint1_linear" x1="30.8647" y1="0" x2="30.8647" y2="60" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="white"/>
                                                <stop offset="1" stop-color="white" stop-opacity="0"/>
                                                </linearGradient>
                                                </defs>
                                              </svg>
                                        </div>
        
                                        <div style="display:flex">
                                            <div style="font-size:20px;font-weight:500">Deadline: </div>&nbsp
                                            <div  style="color:hotpink;font-size:20px;font-weight:400">January 15  </div>
                                        </div>
        
                                        <div class="flex-center">
                                            <div  style="color:hotpink;font-size:20px;font-weight:400">2020 </div>
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-button " style="display:flex; align-items:center">
                                    <button class="major-button-banner flex-c-m stext-101 cl0 size-103   " style="width: 80%; margin-left:0px" onclick="window.location.href='/branchmajordetail'">
                                        View Scholarship
                                    </button>
                            </div>
                        </div>              
                   </div>
                </div>    
            </div>
            <!---->
            <div class="p-b-20">
                <div class="major-detail ">
                    <div class="major-detail-head">
                        <h3 class="text-center">NextStepU STEM Scholarship</h5>
                    </div>
                    <div>
                        <div class="major-detail--content p-t-20">
                
                            <div class="p-l-10 p-r-10" style="width: 100%; text-align: justify;">
                                <div>The NextStepU STEM Scholarship is available for students between the ages of 16 and 22 who are majoring in or planning to major in a field related to science, technology, engineering, or mathematics.
                                </div>
                            </div>
                        </div>
                        <div class="major-detail--content-down p-t-20 p-b-20">
                            <div style="display:flex; ">
                                <div style="display:flex; flex-direction:column; justify-content:center; margin-right: 35px;">
                                    <div class="flex-center">
                                        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M30.0135 37.4999L21.7528 59.02L18.5172 51.7528L11.25 54.9883L19.4118 33.726C15.6056 30.6319 13.1738 25.9124 13.1738 20.625C13.1738 11.3052 20.729 3.75 30.0488 3.75C39.3686 3.75 46.9238 11.3052 46.9238 20.625C46.9238 25.9124 44.492 30.6319 40.6858 33.726L48.8476 54.9883L41.5804 51.7528L38.3449 59.02L30.0841 37.4999C30.0723 37.4999 30.0605 37.5 30.0487 37.5C30.037 37.5 30.0252 37.5 30.0134 37.4999H30.0135ZM28.0501 37.3829C25.472 37.0787 23.072 36.1932 20.9845 34.8613L14.6132 51.4592L19.458 49.3021L21.6151 54.1469L28.0502 37.3829H28.0501ZM39.1133 34.8613C37.0257 36.1932 34.6256 37.0787 32.0476 37.3829L38.4827 54.1469L40.6398 49.3021L45.4846 51.4592L39.1133 34.8613H39.1133ZM30.0489 35.625C38.3331 35.625 45.0489 28.9093 45.0489 20.625C45.0489 12.3407 38.3331 5.625 30.0489 5.625C21.7646 5.625 15.0489 12.3407 15.0489 20.625C15.0489 28.9093 21.7646 35.625 30.0489 35.625ZM30.0489 31.875C23.8356 31.875 18.7989 26.8382 18.7989 20.625C18.7989 14.4118 23.8356 9.375 30.0489 9.375C36.2621 9.375 41.2989 14.4118 41.2989 20.625C41.2989 26.8382 36.2621 31.875 30.0489 31.875ZM30.0489 30C35.2266 30 39.4239 25.8027 39.4239 20.625C39.4239 15.4473 35.2266 11.25 30.0489 11.25C24.8712 11.25 20.6739 15.4473 20.6739 20.625C20.6739 25.8027 24.8712 30 30.0489 30Z" fill="#64e374"/>
                                            </svg>
    
                                    </div>
    
                                    <div style="display:flex">
                                        <div style="font-size:20px;font-weight:500">Total: </div>&nbsp
                                        <div  style="color:hotpink;font-size:20px;font-weight:400">$1500  </div>
                                    </div>
    
                                    <div style="display:flex">
                                        <div style="font-size:20px;font-weight:500">Awards: </div>&nbsp
                                        <div  style="color:hotpink;font-size:20px;font-weight:400">3 </div>
    
                                    </div>
                                </div>
                                <div style="display:flex;">
                                    <div style="display:flex; flex-direction:column; justify-content:center; margin-right: 35px;">
                                        <div class="flex-center">
                                            <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="black"/>
                                                <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="black"/>
                                                <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="black"/>
                                                <defs>
                                                <linearGradient id="paint0_linear" x1="30.8647" y1="0" x2="30.8647" y2="60" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="white"/>
                                                <stop offset="1" stop-color="white" stop-opacity="0"/>
                                                </linearGradient>
                                                <linearGradient id="paint1_linear" x1="30.8647" y1="0" x2="30.8647" y2="60" gradientUnits="userSpaceOnUse">
                                                <stop stop-color="white"/>
                                                <stop offset="1" stop-color="white" stop-opacity="0"/>
                                                </linearGradient>
                                                </defs>
                                              </svg>
                                        </div>
        
                                        <div style="display:flex">
                                            <div style="font-size:20px;font-weight:500">Deadline: </div>&nbsp
                                            <div  style="color:hotpink;font-size:20px;font-weight:400">January 20  </div>
                                        </div>
        
                                        <div class="flex-center">
                                            <div  style="color:hotpink;font-size:20px;font-weight:400">2020 </div>
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-button " style="display:flex; align-items:center">
                                    <button class="major-button-banner flex-c-m stext-101 cl0 size-103   " style="width: 80%; margin-left:0px" onclick="window.location.href='/branchmajordetail'">
                                        View Scholarship
                                    </button>
                            </div>
                        </div>              
                   </div>
                </div>    
            </div>
           <!---->
           <div class="p-b-20">
            <div class="major-detail ">
                <div class="major-detail-head">
                    <h3 class="text-center">Ernest F. Hollings Undergraduate Scholarship</h5>
                </div>
                <div>
                    <div class="major-detail--content p-t-20">
            
                        <div class="p-l-10 p-r-10" style="width: 100%; text-align: justify;">
                            <div>This award is available for U.S. undergraduates majoring in a discipline area related to oceanic and atmospheric science. The student must be a college sophomore at the time of application, and have a grade point average of 3.0 or higher.
                            </div>
                        </div>
                    </div>
                    <div class="major-detail--content-down p-t-20 p-b-20">
                        <div style="display:flex; ">
                            <div style="display:flex; flex-direction:column; justify-content:center; margin-right: 35px;">
                                <div class="flex-center">
                                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M30.0135 37.4999L21.7528 59.02L18.5172 51.7528L11.25 54.9883L19.4118 33.726C15.6056 30.6319 13.1738 25.9124 13.1738 20.625C13.1738 11.3052 20.729 3.75 30.0488 3.75C39.3686 3.75 46.9238 11.3052 46.9238 20.625C46.9238 25.9124 44.492 30.6319 40.6858 33.726L48.8476 54.9883L41.5804 51.7528L38.3449 59.02L30.0841 37.4999C30.0723 37.4999 30.0605 37.5 30.0487 37.5C30.037 37.5 30.0252 37.5 30.0134 37.4999H30.0135ZM28.0501 37.3829C25.472 37.0787 23.072 36.1932 20.9845 34.8613L14.6132 51.4592L19.458 49.3021L21.6151 54.1469L28.0502 37.3829H28.0501ZM39.1133 34.8613C37.0257 36.1932 34.6256 37.0787 32.0476 37.3829L38.4827 54.1469L40.6398 49.3021L45.4846 51.4592L39.1133 34.8613H39.1133ZM30.0489 35.625C38.3331 35.625 45.0489 28.9093 45.0489 20.625C45.0489 12.3407 38.3331 5.625 30.0489 5.625C21.7646 5.625 15.0489 12.3407 15.0489 20.625C15.0489 28.9093 21.7646 35.625 30.0489 35.625ZM30.0489 31.875C23.8356 31.875 18.7989 26.8382 18.7989 20.625C18.7989 14.4118 23.8356 9.375 30.0489 9.375C36.2621 9.375 41.2989 14.4118 41.2989 20.625C41.2989 26.8382 36.2621 31.875 30.0489 31.875ZM30.0489 30C35.2266 30 39.4239 25.8027 39.4239 20.625C39.4239 15.4473 35.2266 11.25 30.0489 11.25C24.8712 11.25 20.6739 15.4473 20.6739 20.625C20.6739 25.8027 24.8712 30 30.0489 30Z" fill="#64e374"/>
                                        </svg>

                                </div>

                                <div style="display:flex">
                                    <div style="font-size:20px;font-weight:500">Total: </div>&nbsp
                                    <div  style="color:hotpink;font-size:20px;font-weight:400">$14500   </div>
                                </div>

                                <div style="display:flex">
                                    <div style="font-size:20px;font-weight:500">Awards: </div>&nbsp
                                    <div  style="color:hotpink;font-size:20px;font-weight:400">118 </div>

                                </div>
                            </div>
                            <div style="display:flex;">
                                <div style="display:flex; flex-direction:column; justify-content:center; margin-right: 35px;">
                                    <div class="flex-center">
                                        <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="black"/>
                                            <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="black"/>
                                            <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="black"/>
                                            <defs>
                                            <linearGradient id="paint0_linear" x1="30.8647" y1="0" x2="30.8647" y2="60" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="white"/>
                                            <stop offset="1" stop-color="white" stop-opacity="0"/>
                                            </linearGradient>
                                            <linearGradient id="paint1_linear" x1="30.8647" y1="0" x2="30.8647" y2="60" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="white"/>
                                            <stop offset="1" stop-color="white" stop-opacity="0"/>
                                            </linearGradient>
                                            </defs>
                                          </svg>
                                    </div>
    
                                    <div style="display:flex">
                                        <div style="font-size:20px;font-weight:500">Deadline: </div>&nbsp
                                        <div  style="color:hotpink;font-size:20px;font-weight:400">January 25  </div>
                                    </div>
    
                                    <div class="flex-center">
                                        <div  style="color:hotpink;font-size:20px;font-weight:400">2020 </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner-button " style="display:flex; align-items:center">
                                <button class="major-button-banner flex-c-m stext-101 cl0 size-103   " style="width: 80%; margin-left:0px" onclick="window.location.href='/branchmajordetail'">
                                    View Scholarship
                                </button>
                        </div>
                    </div>              
               </div>
            </div>    
        </div>
          <!---->
          <div class="p-b-20">
            <div class="major-detail ">
                <div class="major-detail-head">
                    <h3 class="text-center">Michigan Council of Women in Technology Graduate Scholarship</h5>
                </div>
                <div>
                    <div class="major-detail--content p-t-20">
            
                        <div class="p-l-10 p-r-10" style="width: 100%; text-align: justify;">
                            <div>The Michigan Council of Women in Technology Foundation (MCWTF) will award this scholarship to a female graduate student who is pursuing a degree in information systems, business applications, computer science, computer engineering, software engineering or information security. The student must be a resident of Michigan and maintain a grade point average of 3.0.
                            </div>
                        </div>
                    </div>
                    <div class="major-detail--content-down p-t-20 p-b-20">
                        <div style="display:flex; ">
                            <div style="display:flex; flex-direction:column; justify-content:center; margin-right: 35px;">
                                <div class="flex-center">
                                    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M30.0135 37.4999L21.7528 59.02L18.5172 51.7528L11.25 54.9883L19.4118 33.726C15.6056 30.6319 13.1738 25.9124 13.1738 20.625C13.1738 11.3052 20.729 3.75 30.0488 3.75C39.3686 3.75 46.9238 11.3052 46.9238 20.625C46.9238 25.9124 44.492 30.6319 40.6858 33.726L48.8476 54.9883L41.5804 51.7528L38.3449 59.02L30.0841 37.4999C30.0723 37.4999 30.0605 37.5 30.0487 37.5C30.037 37.5 30.0252 37.5 30.0134 37.4999H30.0135ZM28.0501 37.3829C25.472 37.0787 23.072 36.1932 20.9845 34.8613L14.6132 51.4592L19.458 49.3021L21.6151 54.1469L28.0502 37.3829H28.0501ZM39.1133 34.8613C37.0257 36.1932 34.6256 37.0787 32.0476 37.3829L38.4827 54.1469L40.6398 49.3021L45.4846 51.4592L39.1133 34.8613H39.1133ZM30.0489 35.625C38.3331 35.625 45.0489 28.9093 45.0489 20.625C45.0489 12.3407 38.3331 5.625 30.0489 5.625C21.7646 5.625 15.0489 12.3407 15.0489 20.625C15.0489 28.9093 21.7646 35.625 30.0489 35.625ZM30.0489 31.875C23.8356 31.875 18.7989 26.8382 18.7989 20.625C18.7989 14.4118 23.8356 9.375 30.0489 9.375C36.2621 9.375 41.2989 14.4118 41.2989 20.625C41.2989 26.8382 36.2621 31.875 30.0489 31.875ZM30.0489 30C35.2266 30 39.4239 25.8027 39.4239 20.625C39.4239 15.4473 35.2266 11.25 30.0489 11.25C24.8712 11.25 20.6739 15.4473 20.6739 20.625C20.6739 25.8027 24.8712 30 30.0489 30Z" fill="#64e374"/>
                                        </svg>

                                </div>

                                <div style="display:flex">
                                    <div style="font-size:20px;font-weight:500">Total: </div>&nbsp
                                    <div  style="color:hotpink;font-size:20px;font-weight:400">$5000  </div>
                                </div>

                                <div style="display:flex">
                                    <div style="font-size:20px;font-weight:500">Awards: </div>&nbsp
                                    <div  style="color:hotpink;font-size:20px;font-weight:400">1 </div>

                                </div>
                            </div>
                            <div style="display:flex;">
                                <div style="display:flex; flex-direction:column; justify-content:center; margin-right: 35px;">
                                    <div class="flex-center">
                                        <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="black"/>
                                            <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="black"/>
                                            <path d="M20.8647 22.5H28.8647V30H20.8647V22.5ZM32.8647 22.5H40.8647V30H32.8647V22.5ZM44.8647 22.5H52.8647V30H44.8647V22.5ZM8.86475 45H16.8647V52.5H8.86475V45ZM20.8647 45H28.8647V52.5H20.8647V45ZM32.8647 45H40.8647V52.5H32.8647V45ZM20.8647 33.75H28.8647V41.25H20.8647V33.75ZM32.8647 33.75H40.8647V41.25H32.8647V33.75ZM44.8647 33.75H52.8647V41.25H44.8647V33.75ZM8.86475 33.75H16.8647V41.25H8.86475V33.75ZM52.8647 0V3.75H44.8647V0H16.8647V3.75H8.86475V0H0.864746V60H60.8647V0H52.8647ZM56.8647 56.25H4.86475V15H56.8647V56.25Z" fill="black"/>
                                            <defs>
                                            <linearGradient id="paint0_linear" x1="30.8647" y1="0" x2="30.8647" y2="60" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="white"/>
                                            <stop offset="1" stop-color="white" stop-opacity="0"/>
                                            </linearGradient>
                                            <linearGradient id="paint1_linear" x1="30.8647" y1="0" x2="30.8647" y2="60" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="white"/>
                                            <stop offset="1" stop-color="white" stop-opacity="0"/>
                                            </linearGradient>
                                            </defs>
                                          </svg>
                                    </div>
    
                                    <div style="display:flex">
                                        <div style="font-size:20px;font-weight:500">Deadline: </div>&nbsp
                                        <div  style="color:hotpink;font-size:20px;font-weight:400">January 31  </div>
                                    </div>
    
                                    <div class="flex-center">
                                        <div  style="color:hotpink;font-size:20px;font-weight:400">2020 </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="banner-button " style="display:flex; align-items:center">
                                <button class="major-button-banner flex-c-m stext-101 cl0 size-103   " style="width: 80%; margin-left:0px" onclick="window.location.href='/branchmajordetail'">
                                    View Scholarship
                                </button>
                        </div>
                    </div>              
               </div>
            </div>    
        </div>
        
        </div>
        <!---->
        

    </div>
    <%- include('./includes/indexchangepage.ejs') -%>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<div class="footer-content">
  <%- include('./includes/footer.ejs') -%>
</div>
<%- include('./includes/end.ejs') -%>

</html>