<!DOCTYPE html>
<%- include('./includes/head.ejs') -%>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Home</title>
</head>

<body>
  <div id="mainPage" class="clear-fix">
    <!--Header-->
    <%- include('./includes/header.ejs') -%>
    <!--Menu-->
    <%- include('./includes/menu.ejs') -%>
    
  <!--Banner-->
  <div class="">
    <div class="detail-banner-image detail-banner">
      <div class="detail-banner-right">
      <h2 class="detail-banner-text" style="text-align:center">MONTHLY SCHOLARSHIPS</h2>
      <h3 class="monthly-banner-text" style="text-align:center">No Essays, No Long Applications, Quick to Enter!</h3>
      </div>
      
      </div>
   
  </div>

  <div class="p-t-10">
    <h2 style="text-align:center" >Check these out . . . most students qualify!</h2 >
</div>
 
  <!--Content-->
  <div class="detail-content">
    <div class="container">
    <div class="row">
        <div class="detail-content-element" style="width: 100%;">
          
            <div class="detail-content-left col-sm-10 col-md-10 col-lg-10">
                <!--Element-->
                <div class="monthly-element p-b-20">
                    <div class="monthly-element-detail">
                        <div style="display: flex; height: 45px;">
                          <div>
                            <h2 class="monthly-element-text--1">$2000</h2>
                          </div> &nbsp;
                          <div style="display: flex; align-items: flex-end;"> DEADLINE: DECEMBER 30</div>
                        </div>

                        <div>
                          <div class="monthly-element-text--2">Niche "No Essay" Scholarship</div>
                        </div>

                        <div>
                          <div>Open to all high school, undergraduate and graduate students</div>
                        </div>
                    </div>
                    <div class="flex-c-m">
                      <button style="width:200px;background: #760D6B;
                      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);" 
                       type="submit" class="btn btn-info">APPLY NOW</button>
                    </div>
                </div>
                <!---->
                 <!--Element-->
                 <div class="monthly-element p-b-20">
                  <div class="monthly-element-detail">
                      <div style="display: flex; height: 45px;">
                        <div>
                          <h2 class="monthly-element-text--1">$2000</h2>
                        </div> &nbsp;
                        <div style="display: flex; align-items: flex-end;"> DEADLINE: DECEMBER 30</div>
                      </div>

                      <div>
                        <div class="monthly-element-text--2">Niche "No Essay" Scholarship</div>
                      </div>

                      <div>
                        <div>Open to all high school, undergraduate and graduate students</div>
                      </div>
                  </div>
                  <div class="flex-c-m">
                    <button style="width:200px;background: #760D6B;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);" 
                     type="submit" class="btn btn-info">APPLY NOW</button>
                  </div>
              </div>
               <!--Element-->
               <div class="monthly-element p-b-20">
                <div class="monthly-element-detail">
                    <div style="display: flex; height: 45px;">
                      <div>
                        <h2 class="monthly-element-text--1">$2000</h2>
                      </div> &nbsp;
                      <div style="display: flex; align-items: flex-end;"> DEADLINE: DECEMBER 30</div>
                    </div>

                    <div>
                      <div class="monthly-element-text--2">Niche "No Essay" Scholarship</div>
                    </div>

                    <div>
                      <div>Open to all high school, undergraduate and graduate students</div>
                    </div>
                </div>
                <div class="flex-c-m">
                  <button style="width:200px;background: #760D6B;
                  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);" 
                   type="submit" class="btn btn-info">APPLY NOW</button>
                </div>
            </div>
           
             <!--Element-->
             <div class="monthly-element p-b-20">
              <div class="monthly-element-detail">
                  <div style="display: flex; height: 45px;">
                    <div>
                      <h2 class="monthly-element-text--1">$2000</h2>
                    </div> &nbsp;
                    <div style="display: flex; align-items: flex-end;"> DEADLINE: DECEMBER 30</div>
                  </div>

                  <div>
                    <div class="monthly-element-text--2">Niche "No Essay" Scholarship</div>
                  </div>

                  <div>
                    <div>Open to all high school, undergraduate and graduate students</div>
                  </div>
              </div>
              <div class="flex-c-m">
                <button style="width:200px;background: #760D6B;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);" 
                 type="submit" class="btn btn-info">APPLY NOW</button>
              </div>
          </div>
            <div class="detail-content-right col-md-2 col-sm-4">
             
            </div>
            <%- include('./includes/indexchangepage.ejs') -%>
        </div>
    </div>
  </div>
  </div>
 
</body>


<div class="footer-content">
        <%- include('./includes/footer.ejs') -%>
      </div>